<div class="col animated fadeIn fast">
    <div class="card">
        <img [src]="heroe.img" class="card-img-top" [alt]="heroe.nombre">
        <div class="card-body">
            <!-- Esto saca el nombre de los heroes, del arreglo creado en los servicios -->
            <h2 class="card-title"> {{ heroe.nombre }} </h2>
            <p class="card-text limitar">{{ heroe.bio }}</p>
            <p class="card-text"> <small class="text-muted"> {{ heroe.aparicion }} </small></p>

            <div class="d-grid gap-2">
                <button (click)="verHeroe()" class="btn btn-outline-primary" type="button">
                    Ver más...
                </button>
            </div>

            <!-- <div class="d-grid gap-2">
                 Asi se redirecciona a la pagina (sintaxis) 
                <a [routerLink]="['/heroe', i]" class="btn btn-outline-primary"> Ver más... </a>
            </div> -->
        </div>
    </div>
</div>