h1 small {
    font-size: .6em
}

body {
    padding-bottom: 50px;
}

.limitar {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
}

.main-container {
    margin-top: 20px;
}


/* Animaciones */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}


/* 

             Caracteristicas de los servicios

    - Brindar informacion a quien lo necesite.
    - Realizar peticiones CRUD ( create, read, update, delete ).
    - Mantener la data de forma persistente.
    - Servir como recurso re-utilizable para nuestra aplicacion.

*/